<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/Arif/IdeaProjects/RestAssuredTraining">

        <classes>
            <class name="day08.CreateUser"></class>
            <class name="day08.GetUser"></class>
            <class name="day08.UpdateUser"></class>
            <class name="day08.DeleteUser"></class>

        </classes>
    </test>
</suite>
